#home-body{
    background-color: lightskyblue;
    text-align: center;
}

.header{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    text-align: center;
}

#home-body h2{
    color: black;
    margin: 10px;
}

#home-body select{
    margin: 0 10px 10px 10px;
    font-size: medium;
}
#result-body{
    background-color: darksalmon;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
#form-body{
    background-color: lightskyblue;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

body{
    background-color: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
}

button{
    background-color: cornflowerblue;
    color: black;
    font-size: medium;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: black 1px solid;
    margin: 10px;
}

.link{
    margin: 15px;
}

.input-group {
    background-color: cornflowerblue;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    max-width: 150px;

}

.input-group label {
    padding: 12px 15px;
    width: 50px;
    display: block;
    text-align: left;
    color: black;
}

.input-group input {
    width: 32px;
    height: 32px;
    margin: 0;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: visible;
  }
    
#result-body h1{
    margin: 0;
}

.exercise-div{
    border: black 1px solid;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}


#form-body h1{
    margin-top: 0;
}

#form-body h3{
    margin: 0;
}

#form-body input[type="text"]{
   height: 25px;
   margin-bottom: 5px;
}