#home-body{
    background-color: darkorange;
}
#result-body{
    background-color: darksalmon;
}
#form-body{
    background-color: lightskyblue;
}

body{
    background-color: whitesmoke;
}

.link{
    margin: 15px;
}