html
    head
        title 30 Days Generator!
        link(rel="stylesheet" href="styles.css")
    body
        a(href="/" class="link") Home
        a(href="add-exercise" class="link") Add New Exercise
        a(href="all-exercises" class="link") View All
        block content
        block foot
        #footer
            p some footer content