extends layout.pug
block content
   div(id="result-body")
      h1 Generated exercises 
      h2 Difficulty: #{level}
      each exercise in exercises
         div(class="exercise-div")
            h3=exercise.Name
            p #{exercise[level]} reps